Source: jstress
Section: utils
Priority: optional
Maintainer: Levy-Y
Build-Depends: build-essential, debhelper (>= 12)

Package: jstress
Version: 1.0
Architecture: any
Description: A Java-based network stress test toolkit
 A CLI tool to perform HTTP, DNS, and other stress tests.
